body {
    margin: 0;
   
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 13px;
    line-height-step: 24px;
    
   }
   
  header input {
    width: 41px;
    height: 12px;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background-color: #293449;
   }
   header input:hover{
    background-color: #212a3a;
   }
   header input:focus{
    background-color: #ffffff;
    color: #000000;
   }

   h1 {
    width: 196px;
    height: 60px;
    font-family: Cuprum;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #ee3643; 
   }


   a {
    text-decoration: none;
   }
   
   .main-navigation {
    font-size: 17px;
    color: #ffffff;
    line-height: 17px;
    box-shadow: inset 0px -5px 0 0 #293449;
   
    background-color: #32425c;
   }
   
   .header-info-sign-in a{
    font-family: Cuprum;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
   }

   .header-info-sign-in a:hover{
    color: #ee3643;
   }

   .header-info-sign-in a:focus{
    color: #ee3643;
   }

   .footer-top {
    background-color: #32425c;
   }
   

   
   
   
   .footer-bottom, .main-header-navigation {
    background-color: #293449;
   }
   
   
   .main-nav-list,
   .session-navigation,
   .header-info-sign-in,
   .footer-navigation-list,
   .brands-list,
   .services-list-btn,
   .footer-soial-list,
   .catalog-list,
   .session-btn-list {
    list-style: none;
   }
   
   .main-nav-list a,
   .footer-navigation-list a {
    color: #ffffff;
   }
   
   .main-nav-list a:hover,
   .main-nav-list a:focus {
    color: rgba(255, 255, 255, 0.6);
   
    background-color: #293449;
   }
   
   .header-info-sign-in a:hover,
   .header-info-sign-in a:focus {
    color: #e9292a;
   }
   
   .subtitle {
    text-transform: uppercase;
    width: 260px;
  height: 21px;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
   }
   
   .button {
    width: 253px;
    height: 38px;

    border-radius: 4px;
    text-transform: uppercase;
    line-height: 1.25;
    font-family: Cuprum;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
   
    background-color: #e9292a;
    border: none;
   }
   .button a{
    color: #ffffff;
   }
   
   .button:hover,
   .button:focus {
    background-color: #ca2c37;
   }
   
   .button:active {
    background-color: #ba2732
   }
   
   .footer-bottom {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
   
   }
   
   .footer-bottom a {
    font: inherit;
    color: #ffffff;
   }
   
   .catalog h3 {
    font-family: 'PT Sans', Arial, sans-serif;
    width: 155px;
    height: 33px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
   } 
   
   
   
   .main-header-navigation a {
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
   }
   
/*--------------------------------------*/
/*body > * {
    background: rgba(255, 0, 0, 0.3);
}

body > * > * {
    background: rgba(255, 255, 0, 0.3);
}

body > * > * > * {
    background: rgba(108, 77, 243, 0.3);
}

body > * > * > * > * {
    background: rgba(109, 152, 243, 0.3);
}

body > * > * > * > * > *{
    background: rgba(245, 56, 49, 0.3);
}
*/

.item1 {
    width: 300px;
  height: 123px;
  background-color: #f6b22d;
}

.item2 {
    width: 300px;
  height: 123px;
  background-color: #3bbce3;
}

.item3 {
    width: 300px;
  height: 123px;
  background-color: #dc91d8;
}

.slider-list {
    display: flex;
    margin: 0px;
    padding: 0px;
}

/*-------------------------------------------*/
   .main-header {
       margin-bottom: 110px;
       
   }

  .logo img {
    margin-top: 13px;
    margin-left: 55px;
    margin-right: 56px;
    margin-bottom: 15px;
  
   } 
   .logo {
    display: block;
    width: 220px;
    height: 47px;

    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643; 
   }
   
   .search  {
    
    width: 240px;
    margin: 0px;
    padding: 0px;
    border: 0px;
   }

   .session-btn-list {
       display: flex;
   }

 /*  .search {
    box-sizing: border-box;
   }
   */

   .session-navigation {
    width: 470px;
    
    margin: 0px;
    padding: 0px;
    border: 0px;
   }
   

   .main-header-navigation {
   
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px;
    border: 0px;
    
   }

   .header-info {
       display: flex;
       flex-direction: column;
       align-items: center;
       opacity: 0.9;
   }

   .header-info h1{
    width: 196px;
  height: 60px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
    margin-top: 49px;
    margin-left: 52px;
    margin-bottom: 50px;
   }

   .container{
    width: 940px;
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
   }

   .header-info-contacts-phone {

    width: 144px;
    height: 21px;
    font-family: Cuprum;
    font-size: 21px;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #e9292a;
   }

.header-phone-wrapper{

    border: solid 3px #f83838;
   }



   .main-nav-list {
       display: flex;
      
   }

 .header-info-h1-wrapper {
    width: 310px; 
    
    margin: 0 auto;;
    padding: 0px;
 }
   
 .header-info-contacts {
     width: 310px;
     margin: 0 auto;;
 }

 .header-info-sign-in {
    display: flex;
    width: 310px; 
    margin: 0 auto;
    padding: 0px;
 }

 .container-item1 {
     display: flex;
 }


 